body{
  padding-top: 50px;
  background-color: #99ffcc;
}

.principal{
  padding: 40px 15px;
  text-align: center;
}

form{
  padding: 40px 15px;
  text-align: center;
}

.table, .table-stiped, .table-bordered{
  table-layout: auto;
  border-width: medium;
}
td{
  text-align: justify;
}

#font-size{
  font-size: 20px;
}

/*.navbar, .navbar-inverse, .navbar-fixed-top{
  background-color: #ffffff;
}
*/

img{
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
  border-color: black;
  border-radius: 20px;
  border-style: solid;
  border-width: medium;
  box-shadow: 5px 5px 10px;
}

.table{
  box-shadow: 5px 5px 10px;
}
